.questions {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: flex-start; /* Align items to the top */
    background-color: black;
    color: white;
    padding: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  
  .question-text-container {
    width: 50%; /* Adjust width as needed */
    text-align: left;
  }
  
  .question-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .question-item {
    position: relative; /* Required for absolute positioning of the button */
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc; /* Add bottom border */
  }

  .question-item:last-child { 
    border-bottom: none; /* Remove border from the last item */ 
}

  
  .question-text span p {
    font-weight: bold;
    margin-top: 3rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding-right: 3rem; /* Ensure space for the button */
  }
  
  .toggle-btn {
    color: white;
    background-color: red;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 30px; /* Fixed size for circle */
    height: 30px; /* Fixed size for circle */
    border-radius: 50%; /* Make the background a circle */
    display: flex; /* Use flex to center the content */
    justify-content: center; /* Center the plus sign horizontally */
    align-items: center; /* Center the plus sign vertically */
    position: absolute; /* Position absolutely */
    top: 50%; /* Vertically center */
    right: 0; /* Align to the right of the container */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
  }
  
  .answer {
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    color: white;
  }
  
  .question-img {
    width: 40%; /* Adjust width as needed */
    display: flex;
    justify-content: flex-end;
  }
  
  .question-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
  